<?xml version="1.0" encoding="utf-8"?>
<MenuRoot>
  <Menu name ="baseMenu">
    <Texture name ="background">
      <Image file="background.tga"/>
      <Rect left="0" right="512" top="0" bottom="512"/>
      <Position x="0" y="0" z="0"/>
      <Size width="512" height="512"/>
      <Animation row="1" column="1"/>
    </Texture>
    <Button name ="start">
      <Image file ="defaultButton.tga"/>
      <Rect left="0" right="150" top="0" bottom="50"/>
      <Position x="400" y="100" z="0"/>
      <Size width="150" height="50"/>
      <Animation row="1" column="1"/>
      <Position top ="150" bottom ="200" left ="50" right ="150"/>
      <Command command ="start" />
    </Button>
    <Button name ="options">
      <Image file ="defaultButton.tga"/>
      <Rect left="0" right="150" top="0" bottom="50"/>
      <Position x="400" y="200" z="0"/>
      <Size width="150" height="50"/>
      <Animation row="1" column="1"/>
      <Position top ="200" bottom ="250" left ="50" right ="150"/>
      <Command command ="options" />
    </Button>
    <Button name ="exit">
      <Image file ="defaultButton.tga"/>
      <Rect left="0" right="150" top="0" bottom="50"/>
      <Position x="400" y="300" z="0"/>
      <Size width="150" height="50"/>
      <Animation row="1" column="1"/>
      <Position top ="300" bottom ="350" left ="50" right ="150"/>
      <Command command ="exit" />
    </Button>
  </Menu>
  <Menu name ="options">
    <Texture name ="background">
      <Image file="background.tga"/>
      <Rect left="0" right="512" top="0" bottom="512"/>
      <Position x="0" y="0"/>
      <Size width="512" height="512"/>
      <Animation row="1" column="1"/>
    </Texture>
  </Menu>
</MenuRoot>
